#include <windows.h>

// note that the icon used by the Explorer (i.e. the programs icon) is the
// first icon in the executable and the icons are sorted both by their order
// and alphabetically (!), so put this icon first and give it a name
// starting with "a"
aaaaaaaa ICON "mainicon.ico"

// this icon is used with wxFrame::SetIcon()
mainicon ICON "mainicon.ico"

